{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Infiormações de usuário -->
    <section class="container mt-2">
        {% include 'partials/_menu.html' %}
        <div class="my-5"><h1>Bem vindo ao AVASUS</h1></div>
        {% if user.is_authenticated %}
            <div class="card text-white bg-danger mb-3" style="width: 22rem;">
                <div class="card-body">
                    <h5 class="card-title">Informações de Usuário</h5>
                    <table class="table table-sm text-white">
                        <tbody>
                        <tr>
                            <th scope="row">Nome Completo</th>
                            <td>{{ user.nome_completo }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Data de Nascimento</th>
                            <td>
                                {{ user.data_nascimento }}
                                &ensp;( {{ user.get_idade }} anos )
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">CPF</th>
                            <td>
                                {{ user.cpf }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            </section>
            <!-- Informações dos cursos -->
            <section class="container m2">
                <div class="my-2"><h2>Cursos</h2></div>
                <div class="card-group">
                {% if cursos %}
                {% for curso in cursos %}
                    <div class="card border-danger mb-3" style="max-width: 22rem;">
                        <div class="card-body text-danger">
                            <h5 class="card-title">{{ curso.nome }}</h5>
                            <p class="card-text">{{ curso.objetivo }}</p>
                        </div>
                        <div class="card-footer bg-transparent border-danger">
                            <a class="btn btn-outline-danger" href="{% url 'curso' curso.id %}" role="button">Ver mais</a>
                        </div>
                    </div>
                {% endfor %}
                {% endif %}
                </div>
            </section>
        {% endif %}
{% endblock %}