{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-2 text-center">
    <div class="text-center">
        <h1>Certificado de conclusão de curso</h1>
        <h2>{{curso.nome}}</h2>
        <div>
            <p class="text-center">Carga horária: {{curso.carga_horaria_total}} horas</p>
            <p class="text-center">Período cursado: {{conclusao}}</p>
            <p class="text-center">assinatura do diretor:</p>
            <figure class="figure">
            <img src="{% static 'img/assinatura.jpg' %}" class="figure-img img-fluid rounded">
            </figure>
        </div>

    </div>
</div>
{% endblock %}