{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    {% include 'partials/_menu.html' %}
    <div class="text-center p-5" >
        <h1>Certificado de conclusão de curso</h1>
        <h2>{{curso.nome}}</h2>
        <div>
            <p class="text-center">Carga horária: {{curso.carga_horaria_total}} horas</p>
            <p class="text-center">Período cursado: De {{inscricao}} até {{conclusao}}.</p>
            <p class="text-center">assinatura do diretor:</p>
            <div class="text-center">
            <img src="{% static 'img/assinatura.jpg' %}" class="img-fluid rounded w-25" alt="Responsive image">
            </div>
            </div>
        </div>
    </div>
</div>

<div class="container fixed-bottom">
    <p class="text-left">Token de validação: {{token}}</p>
</div>
{% endblock %}