{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-2">
    {% include 'partials/_menu.html' %}
    <h2>{{ curso.nome }}</h2>
    <div class="d-flex justify-content-between">
        <div class="col-6">
            <div class="my-3">
                <h5>Componentes do curso:</h5>
                {% if componentes %}
                {% for componente in componentes %}
                <div class="card border-danger mb-3">
                    <div class="card-header bg-transparent border-danger"><h6>Carga horária: {{ componente.carga_horaria }}h</h6></div>
                    <div class="card-body text-danger">
                        <p class="card-text">{{ componente.nome_componente }}</p>
                    </div>
                    <div class="card-footer bg-transparent border-danger">
                        <form action="{% url 'envia_atividade' componente.id %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <label for="file">Atividade</label>
                            <input type="file" name="envia_atividade" class="form-control" required>


                            <button class="btn btn-outline-secondary" type="submit">Enviar</button>

                            {% for atividade in comparador_atividade %}
                                {% if atividade in componente.nome_componente %}
                                    {% for atividade2 in atividades %}
                                        {% if atividade2.nome_componente == atividade and atividade2.status == 'APROVADO'%}
                                            <button class="btn btn-outline-success" disabled>{{atividade2.status}}</button>
                                        {% elif atividade2.nome_componente == atividade and atividade2.status == 'REPROVADO'%}
                                            <button class="btn btn-outline-danger" disabled>{{atividade2.status}} - Reenvie a atividade</button>
                                        {% elif atividade2.nome_componente == atividade and atividade2.status == 'AGUARDANDO_AVALIACAO'%}
                                            <button class="btn btn-outline-secondary" disabled>{{atividade2.status}}</button>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </form>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
                <div class="col-8">
                    {% if porcentagem == 100 %}
                    <a href="" type="button" class="btn btn-danger">Curso concluído</a>
                    <a href="{% url 'gera_certificado' curso.id %}" type="button" class="btn btn-secondary">Gerar certificado</a>
                    {% endif %}
                </div>
            </div>
        </div>



        <div class="col-8">
            <div class="my-5">
                <div class="card border-danger mb-3">
                    <div class="card-header bg-transparent border-danger"><h6>Alunos matriculados</h6></div>
                    <div class="card-body">
                        {% if matriculas %}
                        {% for matricula in matriculas %}
                            <p class="card-text">{{ matricula.nome_completo }}</p>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="col-8">
                    <button class="btn btn-danger" disabled>Seu progresso: {{porcentagem}}%</button>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}