{% load static %}
<!-- ##### Header Area  ##### -->
<header class="header-area">
    <div class="classy-nav-container breakpoint-off">
        <div class="container">
            <!-- #### Menu ##### -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        {% if user.is_superuser %}
                            <li class="nav-item"><a class="btn btn-outline-danger" href="{% url 'admin:index' %}" role="button">Admin</a></li>
                        {% endif %}
                        {% if user.is_authenticated %}
                            <li class="nav-item"><a class="btn btn-outline-danger" href="{% url 'dashboard' %}" role="button">Meus cursos</a></li>
                            <li class="nav-item"><a class="btn btn-outline-danger" href="{% url 'logout' %}" role="button">Logout</a></li>
                        {% else %}
                            <li class="nav-item"><a class="btn btn-outline-danger" href="{% url 'login' %}" role="button">Entrar</a></li>
                            <li class="nav-item"><a class="btn btn-outline-danger" href="{% url 'autocadastro' %}" role="button">Cadastre-se</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>