{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load widget_tweaks %}
    <section class="container mt-2 col-8">
        {% include 'partials/_menu.html' %}
        <h1>Criar sua conta</h1>
        <form action="{% url 'dashboard' %}" method="post">
            {% csrf_token %}
            {% for field in form.visible_fields %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{field|add_class:'form-control'}}
            </div>
            {% endfor %}
            <input type="submit" value="Criar conta" class="btn btn-outline-danger">
        </form>
    </section>
{% endblock %}